<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaddleWaddle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>514D00052DA4188F008BB1CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514D00152DA41890008BB1CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514D001F2DA41890008BB1CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
